@font-face {
  font-family: "iconfont"; /* Project id 4059157 */
  src: url('iconfont.woff2?t=1685414999133') format('woff2'),
       url('iconfont.woff?t=1685414999133') format('woff'),
       url('iconfont.ttf?t=1685414999133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pintuangou:before {
  content: "\e636";
}

.icon-zhengcezhinanzhen1:before {
  content: "\e735";
}

.icon-maijiaxiuyouli:before {
  content: "\e665";
}

.icon-quanwudingzhi:before {
  content: "\e62e";
}

.icon-fenlei:before {
  content: "\e653";
}

.icon-fenlei-copy:before {
  content: "\ec21";
}

.icon-jifen:before {
  content: "\e645";
}

.icon-shejishijianzhushi:before {
  content: "\e635";
}

.icon-VR1:before {
  content: "\e827";
}

.icon-shigong:before {
  content: "\e7bd";
}

.icon-my:before {
  content: "\e61f";
}

.icon-lamp:before {
  content: "\e642";
}

.icon-shoppingMall:before {
  content: "\e79b";
}

.icon-home:before {
  content: "\e605";
}

.icon-sofa:before {
  content: "\ea35";
}

.icon-my-select:before {
  content: "\ea36";
}

.icon-lamp-select:before {
  content: "\ea37";
}

.icon-shoppingMall-select:before {
  content: "\ea38";
}

.icon-home-select:before {
  content: "\ea39";
}

.icon-sofa-select:before {
  content: "\ea3a";
}

.icon-shaixuan:before {
  content: "\e8b4";
}

.icon-search:before {
  content: "\e643";
}

.icon-shejishi:before {
  content: "\e627";
}

.icon-VR:before {
  content: "\e6ac";
}

.icon-fangan:before {
  content: "\e612";
}

.icon-jifenshangcheng:before {
  content: "\e7b2";
}

.icon-jiufang:before {
  content: "\e614";
}

.icon-xinfang1:before {
  content: "\ec20";
}

.icon-bieshu1:before {
  content: "\e64b";
}

.icon-shangpinfangbaohan-xiangmushenbao:before {
  content: "\e6c2";
}

.icon-my-collect:before {
  content: "\e7ae";
}

.icon-my-case:before {
  content: "\e63e";
}

.icon-my-order:before {
  content: "\e63c";
}

.icon-my-template:before {
  content: "\e648";
}

.icon-my-integral:before {
  content: "\e606";
}

.icon-my-hall:before {
  content: "\e72d";
}

.icon-demand:before {
  content: "\e734";
}

.icon-promotion:before {
  content: "\e607";
}

